<strong>Parabéns, {{student}}</strong>
<p>sua matricula no plano <strong>{{plan}}</strong>  foi cadastrada com início em <strong>{{startDate}}</strong> e com término em <strong>{{endDate}}</strong>, o valor mensal a ser pago é de apenas <strong>R${{price}}</strong></p>
<p>
